
<div id="header">
	    <div id="logo">
		    <button><img class="FoodNoWaitLogo" src="/picture/piglogo.png"> </button>	
		    <a href = "/"> FoodNoWait </a>
	    </div>
         <div class="buttonMenu">
            <a href = "/"> HOMEPAGE </a>
            <a href = "/users/signin"> LOGIN 
                <img class="loginButton" src="/picture/headeruserbutton.png">
            </a>
        </div>	
    </div>
