
<!DOCTYPE html>
{{> headerUser }}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Customer Info Page</title>
	<link rel="stylesheet" type="text/css" href="../css/UserInfoPage.css"/>
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
    <div class="container">
        <div>
            <div class="detailInfo">
				<div class="waitInLine">
					<h3>Current in Line: </h3>
					
				</div>
				<div class="reservation">
					<h3>Your Reservations: </h3>
					
				</div>
            </div>
        </div>
    </div>
    
	<div class="tableSize">
		<ul>
			<li onclick="changeTableSize(this)">Small table (1-2)</li>
			<li onclick="changeTableSize(this)">Medium table (3-4)</li>
			<li onclick="changeTableSize(this)">Large table (5 and above)</li>
		</ul>
	</div>
	
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/UserInfoPage.js"></script>
</body>
</html>