<div class="restInfomation">
    <div class="firstName">
        <strong>FIRST NAME: </strong>
        <input type="text" id="firstNameInput" name="firstName" />
    </div>

    <div class="lastName">
        <strong>LAST NAME: </strong>
        <input type="text" name="lastName" id="lastNameInput"/>
    </div>

    <div class="phoneNumber">
        <strong>PHONE: </strong>
        <input type="int" id="phoneNumberInput" name="phone" />
    </div>

    <div class="age">
            <strong>AGE: </strong>
            <input type="int" id="ageInput" name="age" />
    </div>

    <div class="gender">
        <strong>GENDER: </strong>
        <select id="genderSelect" >
            <option value ="other">Other</option>
            <option value ="male">Male</option>
            <option value ="female">Female</option>
        </select>
    </div>
</div>
