<div id="header">
	<div id="logo">
		<button><img class="FoodNoWaitLogo" src="/picture/piglogo.png"> </button>	
		<a href = "/"> FoodNoWait </a>
	</div>
    <div class="buttonMenu">
        <a href = "/"> HOMEPAGE </a>
        <a href = "/users/profile"> {{user}} 
            <img class="loginButton" src="/picture/headeruserbutton.png">
        </a>
        <a href = "/users/profile/status"> Waiting & Reservation</a>	
        <a href = "/users/logout"> LOGOUT</a>	
    </div>
</div> 
 