
{{# if condition}}
    <div id="header">
	    <div id="logo">
		    <button><img class="FoodNoWaitLogo" src="/picture/piglogo.png"> </button>	
		    <a href = "/"> FoodNoWait </a>
	    </div>
         <div class="buttonMenu">
            <a href = "/:id"> HOMEPAGE </a>
            <a href = "/signin"> sss 
                <img class="loginButton" src="/picture/headeruserbutton.png">
            </a>	
        </div>
    </div>
{{ else }}
     <div id="header">
	    <div id="logo">
		    <button><img class="FoodNoWaitLogo" src="/picture/piglogo.png"> </button>	
		    <a href = "/"> FoodNoWait </a>
	    </div>
         <div class="buttonMenu">
            <a href = "/:id"> HOMEPAGE </a>
            <a href = "/signin"> LOGIN 
                <img class="loginButton" src="/picture/headeruserbutton.png">
            </a>
        </div>	
    </div>
{{/if }}
