
<div class="restaurantSignUp">
        <div class="restaurantName">
            <strong> RESTAURANT NAME: </strong>
            <input type="text" id="restaurantNameInput" name="restaurantName" />
        </div>

        <div class="restaurantAddress">
            <strong>ADDRESS: </strong>
            <input type="text" name="address" id="address"/>
        </div>

        <div class="restaurantPhoneNumber">
            <strong>PHONE: </strong>
            <input type="int" id="restaurantPhoneNumberInput" name="phone" />
        </div>
        

        <div class="restaurantType">
            <strong>RESTAURANT TYPE: </strong>
            <select id="restaurantTypeSelect" name="restaurantType">
                <option value ="Chinese Food">Chinese Food</option>
                <option value ="Seafood & Steak">Seafood & Steak</option>
                <option value ="Dessert">Dessert</option>
            </select>
        </div>
        <div class="restaurantImage">
                <strong>RESTAURANT IMAGE: </strong>
                <input type="file" id="restaurantImageInput" name="image" />
        </div>
</div>
