{{#if condition}} 
    {{> headerUser }}
{{ else }}
     {{> header }}
{{/if }}
	
<div id="homepageTop">
 	<h1 class="homeTitle">Let's Get In Line!</h1>
 	<div class="searchBar">
 		<input class="searchContent" type="text" placeholder="Find the restaurant...">
		<a href="/search"> 
 			<img class="searchSubmit" src="/picture/searchButton.png"> 
		</a>
 	</div>
 	<img id="homeImage" src="picture/homepageImage.png">
 </div>
 <div id="homeList">
 	<div class="restaurantList">
	 	<h1>Popular Restaurants:</h1>
	</div>
</div>

<script type="text/javascript" src="js/homepage.js"></script>


	