 	{{> headerUser }}
	 <div id="searchTop">
		<div class="searchBar">
	 		<input class="searchContent" type="text" placeholder="Find the restaurant...">
	 		<input class="searchSubmit" type="image" src="picture/searchButton.png">
	 	</div>
 	</div>
 	<div id="searchClass">
 		<button>Popular Restaurant</button>
 		<button>Seat Available</button>
 		<button>Chinese Food</button>
 		<button>Seafood & Steak</button>
 		<button class="special">Dessert</button>
 	</div>
 	<div id="searchList">
 	<div class="restaurantList">
	 	<h1 id="relevantTitle">Relevant Restaurants:</h1>
 	</div>
 	</div>
 	<script type="text/javascript" src="js/search.js"></script>